<!-- /*  Names: Diego Cruz and Neema Mwansembo 
    Date: 17th April 2023 */ -->
<h2>Ben Ten</h2>
<img src="https://images.unsplash.com/photo-1568316674077-d72ee56de61c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZmVzc2lvbmFsJTIwbWFufGVufDB8fDB8fA%3D%3D&w=1000&q=80" height="300" width="300">
<p>Ben is a computer programmer, knows how to program in C#, C++, Cobol, Java, JavaScript, etc. He will follow a course of cybersecurity in the future.</p>

<h2>Wednesday Addams</h2>
<img src="https://assets-prd.ignimgs.com/2022/06/07/wednesday-button-02-1654581534394.jpg" height="300" width="300">
<p>Wednesday is an aspiring young woman who is highly interested in the world of every day evolving tech. She lives in the virtue of learning every day and her</p>
<p>favorite programming langiages are C#, JavaScript, Java, Python. She hopes one day to participate in grund breaking tech histories and</p>
<p>advance the world technology in aspects like Artifical intelligence and cybersecurity</p><br/><br/><br/>