<!--  Names: Diego Cruz and Neema Mwansembo 
    Date: 17th April 2023 -->
<h1 id="welcome"><i class="fa-solid fa-house"></i> WEBD6201 Lab 4 Demo Homepage</h1>
<p>Hello, this our home page for our beautiful website. We strive to give you best service.</p>
<button id="RandomButton" class="btn btn-primary">About us</button>