<!-- /*  Names: Diego Cruz and Neema Mwansembo 
    Date: 17th April 2023 */ -->
<h1 id="welcome"><i class="fa-solid fa-bag-shopping"></i> WEBD6201 Lab4 Projects</h1>
<h2>BMI Calculator</h2>
<img src="https://content.instructables.com/F5H/P2UB/J8YRH00X/F5HP2UBJ8YRH00X.png?auto=webp&fit=bounds&frame=1" height="300" Width="300">
<p>
    We created a BMI Calculator for clients to check in with their healths. The customer would enter their weight and height and the program would automatically calculate.
</p>

<h2>Local SPA website</h2>
<img src="https://www.jimdo.com/static/22d0a02ad07ba4e0d50280d7574a9072/5d9e3/hej-its-her-com.png" height="300" Width="300">
<p>
   We created a website for a local spa in the Durham region where they showcase their services provided, their contact information as well.
</p>

<h2>Student and Tutors marketplace system</h2>
<p>
    This is a students and tutor online software system where students and tutors would match and see what subjects they want to learn and which tutors they want.
</p>
<img src="https://imageio.forbes.com/specials-images/imageserve/6137b677790cf774f608efda/Screen-Shot-2021-09-07-at-2-58-42-PM/960x0.jpg?format=jpg&width=960" height="300" Width="300">