<!-- /*  Names: Diego Cruz and Neema Mwansembo 
    Date: 17th April 2023 */ -->

<h2>General programming</h2>
<img src="https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg?w=2000">
<p>
    We do general programming and code programs using C++, C#, Python and host the programs with cloud hosting as well as in repositories."</br>
</p>

<h2>Mobile and Web development</h2>
<img src="https://www.web.com/content/dam/webdotcom/customer-website-gallery/custom%20gallery%20image%20four.png" height="300" width="300">
<p>
    We started web development projects and implementing them with skills like  HTML, CSS, JavaScript, jQuery, Bootstrap, PHP, WordPress, and SEO. </br>
    Example: The local SPA Website. This project required custom coding with HTML, CSS, and JavaScript to create a unique user interface that improves
    user engagement and conversion rates."</br>
</p>

<h2>Web development</h2>
<img src="https://www.web.com/content/dam/webdotcom/customer-website-gallery/custom%20gallery%20image%20four.png" height="300" width="300">
<p>
    We started web development projects and implementing them with skills like  HTML, CSS, JavaScript, jQuery, Bootstrap, PHP, WordPress, and SEO. </br>
    Example: The local SPA Website. This project required custom coding with HTML, CSS, and JavaScript to create a unique user interface that improves
    user engagement and conversion rates."</br>
</p>
